.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
}

.App-wrapper {
  display: flex;
  flex-direction: row;
  width: 1177px;
}